body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: white;
    position:fixed;
    left: 0px;
    top: 0px;

}

.content {
    width: 800px;
    margin: 0 auto;
}

#image-banner {
    background-image: url('../img/sf_banner.png');
    background-size: cover;
    width: 100%;
    height: 600px;
}


#other-posts {
    overflow: hidden;
    margin-bottom: 100px;
}

.image-card, .image-card-color-overlay {
    width: 380px;
    height: 200px;
}

.image-card {
    display: inline-block;
    float: left;
    overflow: hidden;
    margin-right: 40px;
    position: relative;
}

.image-card:last-child {
    margin-right: 0;
}

.image-card img {
    width: 100%;
}

.image-card-color-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: 0.3s;
    background-color: navy;
}

.image-card:hover .image-card-color-overlay {
    opacity: 0.7;
}

.image-card-text {
    position: absolute;
    top: 150px;
    left: 20px;
    color: white;
    font-family: Young Serif;
    font-size: 30px;
}

#title {
    font-family: Young Serif;
    font-size: 50px;
}

h1 {
    font-family: Bitter;
    font-weight: 800;
    font-size: 30px;
}

h2 {
    font-family: Franklin Gothic Medium;
    font-size: 15px;
}

h3 {
    font-family: Bitter;
    font-weight: bold;
}

p {
    font-family: Bitter;
    font-size: 17px;
}
